@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background: #000;
  overflow-x: hidden;
}

.__className_f5c057 {
  font-family: Bricolage Grotesque, Bricolage Grotesque Fallback;
  font-style: normal;
}

.wrapper-svg svg {
  opacity: 0.7 !important;
}

.wrapper-title:hover .wrapper-svg svg {
  opacity: 1 !important;
}